@import '../../common/colors.scss';

.dashboard-navbar {
  & .notification-icon {
    background: $primary;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
  }

  & .online-icon {
    font-size: 12px;
    color: #50cd89;
    background: $primary;
    border-radius: 50%;
    padding: 1px;
    position: absolute;
    top: 47px;
  }
}

.client-notifications {
  & .online-icon {
    font-size: 12px;
    color: #50cd89;
    background: #fff;
    border-radius: 50%;
    padding: 1px;
    position: relative;
    bottom: 18px;
  }

  & .notification-message {
    color: #a0919b;
    font-size: 16px;
  }

  & .notification-time {
    color: #a0919b;
    font-size: 14px;
  }
}

.activeNavLink {
  color: black;
  font-weight: 800;

  & svg {
    font-size: 22px;
    color: $dark;
    fill: $dark;

    & path {
      fill: $dark;
    }
  }
}

.navbarNavItem {
  color: black;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;

  & svg {
    font-size: 22px;
    color: $grey;
    fill: $grey;

    & path {
      fill: $grey;
    }
  }

  &:hover {
    color: $grey;
    transition: all 200ms;
    & svg {
      color: $dark;
      fill: $dark;
  
      & path {
        fill: $dark;
      }
    }
  }
}

.navbarNavItemDark {
  color: $primary;
  text-decoration: none;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $primary-hover;
    border-bottom: 2px solid $primary-hover;
  }
}

.navToggleButton {
  cursor: pointer;
}

.drawerLink {
  color: white;

  &:hover {
    transition: all 200ms;
    color: white;
  }
}

.drawerSearchFieldBox {
  position: relative;

  & .searchIconLight {
    position: absolute;
    left: 10px;
    top: 7px;
    color: white;
  }

  & .drawerSearchField {
    padding: 5px 15px 5px 35px;
    background: rgba(113, 113, 113, 0.3);
    border: none;
    border-radius: 25px;
    width: 100%;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    &:focus {
      outline: none;
    }
  }

  & .drawerSearchFieldLight {
    background: rgba(113, 113, 113, 0.3);
    color: #ffffff;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
.searchFieldBox {
  font-size: 12px;
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;

  & .inputSearchIcon {
    position: absolute;
    left: 15px;
    cursor: pointer;
    color: rgb(66, 66, 66);
  }

  & .customSearchField {
    padding: 5px 15px 5px 55px;
    background: black;
    color: white;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 15vw;

    &::placeholder {
      color: white;
    }

    &:focus {
      outline: none;
    }
  }

  & .customFormikSearchField {
    height: 38px;
    padding: 7px 15px 7px 55px;
    background: white;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    color: #232329;
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    outline: 0 !important;
    transition: 'all 0.3s';

    &::placeholder {
      color: rgb(78, 78, 78);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: $primary;
    }
  }
}

.navLink {
  display: flex;
  align-items: center;
}

.navAlertColor {
  background: $primary;
}

@media screen and (min-width: 1950px) and (max-width: 2250px) {
  .navLink {
    width: 40vw;
  }
}

@media screen and (min-width: 1750px) and (max-width: 1950px) {
  .navLink {
    width: 45vw;
  }
}

@media screen and (max-width: 768px) {
  .searchFieldBox {
    & .customSearchField {
      width: 100%;
    }
    & .customFormikSearchField {
      height: 48px;
    }
  }
}
